__pycache__/
*.pyc
.DS_Store
.env
.venv
nabel_agents_venv
results/figures/
results/reports/*.png
*.docx
!QM640_Interim_Report_Final.docx
temp/
~$*
data/processed/
reports/interim_report/QM640_Interim_Report_Final.docx
